.bosy {
    /* background: #3d3030; */
    background: #000;
  }
  header {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    justify-content: space-between;
    z-index: 99999999999999;
  }
  
  .logotext {
    display: flex;
    margin-left: 20px;
  }
  
  .header_nav {
    display: flex;
    align-items: center;
    justify-content: center;
  
    .navbar_header {
      color: white;
    }
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  li {
    font-size: large;
    display: flex;
    text-decoration: none;
    margin: 0px 20px;
  }
  
  .third_part {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
  }
  
  .button {
    display: flex;
    font-size: large;
    padding: 10px 15px;
    border-radius: 12px;
    color: white;
    border: 1px solid #fff;
    transition: 0.5s;
    font-stretch: 90%;
  }
  
  .button:hover {
    background: #04bb56;
    border-color: #000;
    cursor: pointer;
  
  }
  