
*{
    margin: 0;
    padding: 0;
}
body {
            background: url(/public/images/loginbg.jpg);
            background-position: center;
        }
.container{
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    
    background-position: bottom;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px #1d5e14;
}
.image{
    display: flex;
    width: 50%;
    background: url(/public/images/imagebg.jpg);
    z-index: 10;
    height: 100%;
    background-position: center;
    flex-direction: column;
    background-size: cover;
    border-radius: 8px 0px 0px 6px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    z-index: 10;
    background: #000;
    margin: 10px;
    border-radius: 20px;
}
.footer{
    display: flex;
    color: white;
    align-items: last baseline;
    padding-bottom: 50px;
    justify-content: end;
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.form{
    display: flex;
    width: 50%;
}
.table{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 100px;
    height: fit-content;
    background: #fff;
    padding-bottom: 100px;
    border-radius: 20px;
}
.header{
    border-radius: 18px 18px 0px 0px;
    background: #000;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.dots{
    display: flex;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    margin: 10px;
}
.text{
    display: flex;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 20px 0px;
    justify-content: center;
    font-weight: bold;
}
.symbol{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 5px 0px;
    font-weight: bold;
}
.coins{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.shortform{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin: 5px 0px;
    font-weight: bold;
}
.coin{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
}
.form{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 50%;
}
.pages {
            height: fit-content;
            display: flex;
            flex-direction: column;
            z-index: 1;
            padding: 10px 20px;
            width: 100%;
        }
        .container{
            
            display: flex;
  border-radius: 7px;
}
.login,.registration{
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  color: #1c8049;
  justify-content: center;
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 50px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
            width: fit-content;
            padding: 15px 30px;
            width: 100%;
            font-size: x-large;
            border-radius: 10px;
            background:rgb(3, 133, 3);
            
            border: none;
            display: flex;
            justify-content: center;
            font-weight: 500;
            letter-spacing: 1px;
            margin-top: 1.7rem;
            cursor: pointer;
            font-size: 1.2rem;
            
        }
        .form input.button:hover{
            background:rgb(3, 171, 3);
            cursor: pointer;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}
.one{
  background: #ddd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.progressbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 80px 20px;
}
.bar{
  height: 2px;
  display: flex;
  width: 100px;
  background: #ddd;
}
.otp-screen {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content: center;
            text-align: center;
        }

        .otp-input {
            display: flex;
            margin: 10px;
            padding: 10px;
            font-size: 1.2rem;
        }

        .verify-button {
            margin-top: 20px;
            padding: 15px 30px;
            font-size: x-large;
            border-radius: 10px;
            background: rgb(3, 133, 3);
            border: none;
            display: flex;
            justify-content: center;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            font-size: 1.2rem;
        }
