    body {
        margin: 0;
        padding: 0;
        background-color: #000;
    }
    .swiper-container9 {
        margin: 10px 30px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        height: fit-content;
    }
    .swiper-slide9 {
        text-align: center;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .overviewhead9 {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 30px;
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        margin-top: 50px;
        margin-bottom: 20px;
        height: 100px;
        font-stretch: 90%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .marketoverviews9 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        background: #fff;
        padding: 0px 15px;
    }

    .overviewtop9 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        width: 100%;
        border-bottom: 1px solid #6a6a6a;
        margin-bottom: 15px;
    }
    
    .type9 {
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: 600;
        width: 75%;
    }
    
    .over_change9 {
        display: flex;
        justify-content: end;
        width: 25%;
    }
    .overviewdata9{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        height: fit-content;
        padding: 10px 0px;
        border-bottom: 1px solid #dadada;
        width: 100%;
    }
    .over9-name{
        display: flex;
        align-items: center;
        font-size: 20px;
        margin: 0px 3px;
        font-weight: 600;
        width: 40%;
    }
    .over_rate9{
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 0px 3px;
        font-weight: 600;
        justify-content: end;
        width: 20%;
    }
    .over_percentage9{
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 0px 3px;
        justify-content: end;
        width: 30%;
        font-weight: 600;
    }
    .over_image9{
        display: flex;
        height: 30px;
        margin: 0px 3px;
    }
    .serial9{
        display: flex;
        width: 10%;
        justify-content: center;
    }
    .over_icon9{
        margin: 0px 5px;
    }
    .coins9{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 30px;
        background: #fff;
    }
    .individualcoin9{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0px;
        border-bottom: 1px solid #6a6a6a;
        color: #fff;
        background: #000;
    }
    .coinname9{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        font-family: Arial, Helvetica, sans-serif;
        width: 30%;
    }
    .iconcoin9{
        display: flex;
        margin: 0px 10px;
        height: 50px;
    }
    .symbol9{
        display: flex;
        font-size: 20px;
        font-weight: 550;
        margin: 0px 5px;
    }
    .coin9{
        display: flex;
        font-size: 16px;
        margin: 0px 5px;
        color: gray;
    }
    .coinprice9{
        display: flex;
        font-size: 20px;
        font-weight: 550;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 5px;
        width: 20%;
        justify-content: end;
    }
    .coinpercentage9{
        display: flex;
        font-size: 20px;
        font-weight: 550;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px 5px;
        width: 20%;
        justify-content: end;
    }
    .action9{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding: 0px 20px;
        width: 30%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: bold;
        color: #00ab4d;
    }
    .details9{
        display: flex;
        padding: 0px 15px;
        border-right:1px solid #cbcbcb;
    }
    .trades9{
        padding: 0px 15px;
        display: flex;
    }
    .coinsheader9{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #01853c;
        height: 70px;
        justify-content: space-around;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
        padding: 0px 5%;
    }
    .Products9{
        display: flex;
        width: 30%;
        justify-content: start;
    }
    .Price9{
        display: flex;
        width: 20%;
        justify-content: end;
    
    }
    .Change9{
        display: flex;
        width: 20%;
        justify-content: end;
    }
    .explain9{
        display: flex;
        color: rgb(210, 210, 210);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        align-items: center;
        justify-content: start;
        margin: 0px 30px;
        margin-bottom: 50px;
        margin-top: -30px;
    }
    a{
        text-decoration: none;
        color: white;
        transition: all ease-in-out 0.3s9;
    }
    a:hover{
        color: #04bb56;
    }