
    body {
        margin: 0;
        padding: 0;
        background-color: #000;
    }
    .main2 {
        display: flex;
        flex-direction: row;
        background-color: #1a1a1a;
        justify-content: space-around;
        padding-left: 80px;
        padding-right: 20px;
        padding-top: 90px;
        height: fit-content;
        padding-bottom: 30px;
    }

    .loanstext2 {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        flex-direction: column;
        width: 40%;
        color: rgb(240, 240, 240);
        justify-content: center;
        align-items: start;
    }

    .headings2 {
        font-size: 60px;
        font-weight: bold;
    }

    .lines2 {
        font-size: 25px;
        margin-top: 20px;
        line-height: 1.32;
        color: #dcdcdc;
    }

    .loanbutton2 {
        display: flex;
        font-size: large;
        padding: 10px 30px;
        border-radius: 6px;
        color: white;
        border: 1px solid #01612c;
        background-color: #01612c;
        transition: 0.5s2;
        font-size: 20px;
        font-stretch: 90%;
        margin-top: 30px;
    }

    .loanbutton2:hover {
        background: #04bb56;
        border-color: #000;
        cursor: pointer;
    }

    .points2 {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        font-size: 20px;
        line-height: 1.32;
    }

    .points2 i {
        color: #04bb56;
        font-size: 40px;
        display: flex;
        margin-right: 20px;
    }

    .point2 {
        display: flex;
        margin-bottom: 30px;
        width: 70%;
        font-style: italic;
        color: #cccccc;
    }

    .table2 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 0px 40px;
        box-shadow: 0px 0px 10px 0px #000;
        border-radius: 3px;
        height: fit-content;
        background-color: #222222;
        width: 50%;
    }

    .Ltv2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        color: #dcdcdc;
    }

    .ltvhead2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .ltvoffers2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .offer2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        background-color: #282a28;
        box-shadow: 0px 0px 5px 0px #000;
        transition: 0.5s2;
        color: #00a349;
    }

    .offer2:hover {
        background-color: #008e40;
        color: #fff;
        box-shadow: 0px 0px 10px 0px #007623;
        cursor: pointer;
    }

    .percent2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bolder;
        font-size: 25px;
        margin-bottom: 3px;
    }

    .duration2 {
        display: flex;
        font-size: 13px;
        color: #dcdcdc;
    }

    .duration2 i {
        margin-right: 5px;
    }

    .details2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        color: #dcdcdc;
    }

    .detail2 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        width: 45%;
        transition: 0.5s2;
        color: white;
    }

    .detailhead2 {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0px;
    }

    .detailinfo2 {
        display: flex;
        font-size: 18px;
        margin-bottom: 10px;
        color: #01ae4f;
    }

    .detailinfo2 span {
        font-weight: bold;
        margin-left: 5px;
        color: #dcdcdc;
    }

    .detaillines2 {
        line-height: 1.32;
        font-size: 15px;
        color: #c3c2c2;
        font-style: italic;
    }

    .confirm2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        margin: 0px 20px;
    }

    .amount2 {
        display: flex;
        flex-direction: column;
        font-family: Arial, Helvetica, sans-serif;
        color: #dcdcdc;
    }

    .amounts2 {
        display: flex;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #01ae4f;
    }

    .amounts2 span {
        font-weight: bold;
        color: #dcdcdc;
    }

    .confirmline2 {
        font-size: 15px;
        color: #c3c2c2;
        font-style: italic;
    }

    .confirmbutton2 {
        display: flex;
        padding: 10px 35px;
        border-radius: 6px;
        color: white;
        border: 1px solid #01612c;
        background-color: #01612c;
        transition: 0.5s2;
        font-size: 20px;
        font-stretch: 90%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .confirmbutton2:hover {
        background: #00a149;
        box-shadow: 0px 0px 10px 0px #007623;
        cursor: pointer;
    }
    .head2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        transition: 0.5s2;
        color: white;
    }
    .coins2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        transition: 0.5s2;
        color: white;
    }
    .coin2{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0px;
        font-size: 18px;
        border: 1px solid #b4b4b4;
        padding: 5px 10px;
        border-radius: 5px;
        width: 100%;
        transition: 0.5s2;
        width: 45%;
        color: white;
    }
    .image2{
        margin-right: 5px;
    }
    .image2 img{
        width: 30px;
    }
    .image2-text{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: white;
        transition: all ease-in-out 0.3s2;
    }
    a:hover{
        color: #04bb56;
    }

