
    body {
        margin: 0;
        padding: 0;
        background-color: #000;
    }
    .link3 {
        border-top: 1px solid #393939;
        display: flex;
        /* justify-content: start; */
        height: fit-content;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid #232323;
        padding: 0px 40px;
        padding-top: 20px;
        color: #e9e9e9;
        align-items: center;
        background-color: #161616;
        font-size: large;
    }

    .p2p3 {
        margin-right: 20px;
        padding-bottom: 10px;
        cursor: pointer;
        border-bottom: 4px solid #04d963;
    }

    .create3,
    .fasttade3 {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 10px;
        cursor: pointer;
    }

    .headstext3 {
        background-color: #161616;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        line-height: 1.53;
        text-align: center;
        padding: 100px 0px;
        padding-bottom: 20px;
        color: #e9e9e9;
        font-family: Arial, Helvetica, sans-serif;
    }

    .headstext3 p {
        font-size: 55px;
        width: 80%;
        text-align: center;
        color: #e9e9e9;
        font-family: Arial, Helvetica, sans-serif;
    }

    .explaination3 {
        background-color: #161616;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .explain3 {
        display: flex;
        width: 70%;
        line-height: 1.53;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px 0px;
        padding-bottom: 20px;
        color: #b6b6b6;
        font-family: Arial, Helvetica, sans-serif;
    }

    .linkv23 {
        display: flex;
        align-items: center;
        font-size: 25px;
        background-color: #0f0f0f;
        padding-top: 20px;
    }
    .offers3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .offer3{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 260px;
        padding: 20px 70px;
        padding-top: 40px;
        background-color: #161616;
        width: 100%;
    }
    .data3{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 20px 0px;
    }
    .sellername3{
        font-size: 40px;
        margin-bottom: 10px;
        color: #e9e9e9;
        font-family: Arial, Helvetica, sans-serif;
    }
    .pricedollar3{
        font-size: 40px;
        color: #04d963;
        font-family: Arial, Helvetica, sans-serif;
    }
    .Availble3{
        font-size: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        color: #bfbfbf;
        font-family: Arial, Helvetica, sans-serif;
    }
    .Orders3{
        font-size: 20px;
        color: #a7a4a4;
        font-family: Arial, Helvetica, sans-serif;
    }
    .Limit3{
        color: #a7a4a4;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .paymentsmethod3{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px 0px;
    }
    .paymentsmethod3 img{
        height: 50px;
    }
    .buysellbutton3{
        display: flex;
        padding: 10px 40px;
        border-radius: 20px;
        color: white;
        background-color: #04d963;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 20px;
        cursor: pointer;
    }
    .buysellbutton3:hover{
        background-color: #04bb56;
    }
    .buysellbutton3:active{
        background-color: #04d963;
    }
    a{
        text-decoration: none;
        color: white;
        transition: all ease-in-out 0.3s3;
    }
    a:hover{
        color: #04bb56;
    }
