/* *{
  margin: 0;
  padding: 0;
} */
body {
  margin: 0;
  padding: 0;
}
.body1 {
    margin: 0;
    padding: 0;
    background-color: #000;
  }  
  /* main text part */
  .crypto_word1 {
    color: #04d963;
  }
  
  .text_one1 {
    color: #fff;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .text_two1 {
    color: #fff;
    margin: 30px 0px;
    font-size: large;
  }
  
  .text_three1 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row;
  }
  
  .getstarted1 {
    background: #fff;
    font-weight: 550;
    font-stretch: 70%;
    margin: 10px 10px;
    padding: 15px 28px;
    border: 1px solid white;
    border-radius: 10px;
    transition: 0.5s;
  
  }
  
  .getstarted1:hover,
  .class1:hover {
    background: #04bb56;
    border-color: #000;
    color: #fff;
    cursor: pointer;
  }
  
  .class1 {
    border: 1px solid white;
    color: white;
    margin: 10px 10px;
    padding: 15px 28px;
    border-radius: 10px;
    transition: 0.5s;
  
  }
  
  /* containers main */
  .main1 {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 850px;
  }
  
  .main_text1 {
    padding: 0px 40px;
    display: flex;
    width: 50%;
    flex-direction: column;
  }
  
  .main_images1 {
    margin-left: 80px;
    width: 50%;
    height: 1000px;
    position: relative;
    display: flex;
  }
  
  .images1 {
    top: 340px;
    display: flex;
    position: absolute;
  }
  
  .images11 {
    left: -100px;
    margin-top: 70px;
    display: flex;
    position: absolute;
  }
  
  .images21 {
    position: absolute;
    margin-top: 70px;
    margin-left: 230px;
  
  }
  
  .images31 {
    margin-top: 220px;
    margin-left: 60px;
    position: absolute;
  
  }
  
  .image3step1 {
    transform: rotateY(-20deg);
    position: absolute;
    margin-left: 120px;
    z-index: 10;
  }
  
  .step1 {
    opacity: 0;
    animation: moveup 0.8s ease-in-out 0s forwards;
  }
  
  .step2 {
    opacity: 0;
    animation: moveup 0.8s ease-in-out 0.7s forwards;
  }
  
  .step3 {
    opacity: 0;
    animation: moveup 0.8s ease-in-out 1s forwards;
  }
  
  .step4 {
    opacity: 0;
    animation: moveup 0.8s ease-in-out 1.5s forwards;
  }
  
  .bitcoins11 {
    filter: drop-shadow(0 0 10px #04bb56);
    animation: float 1.5s ease-in-out infinite;
    position: absolute;
    transform: rotateZ(-45deg);
    top: -30px;
    left: -30px;
    z-index: 20;
  }
  
  .bitcoins21 {
    filter: drop-shadow(0 0 10px #04bb56);
    animation: float 1.5s ease-in-out infinite 0.2s;
    position: absolute;
    top: -110px;
    left: -10px;
    transform: rotateZ(-25deg);
    z-index: 20;
  }
  @keyframes moveup {
    0% {
        opacity: 0;
        transform: translateY(2%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

  @keyframes float {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 8px;
    }

    100% {
        margin-top: 0px;
    }
}
  .bitcoins31 {
    filter: drop-shadow(0 0 10px #04bb56);
    animation: float 1.5s ease-in-out infinite 0.4s;
    top: -50px;
    left: 40px;
    position: absolute;
    z-index: 20;
  
  }
  
  .hollobase1 {
    position: absolute;
    z-index: 10;
    margin-left: -45px;
    margin-top: 20px;
  }
  
  /* //                      Hologram */
  
  
  
  @keyframes holographic {
    from {
      will-change: box-shadow;
      box-shadow:
        0 -75px 5px rgba(0, 252, 252, 0.151),
        0 -1px 2px rgba(0, 252, 252, 0.51),
        0 -45px 5px rgba(0, 252, 252, 0.151),
        0 -2px 3px rgba(0, 252, 252, 0.51),
        0 -3px 4px rgba(0, 252, 252, 0.51),
        0 -4px 6px rgba(0, 252, 252, 0.51),
        0 -5px 10px rgba(0, 252, 252, 0.751),
        0 -7px 20px rgba(0, 252, 252, 0.751),
        0 -10px 30px rgba(0, 252, 252, 0.751),
        0 -15px 40px rgba(0, 252, 252, 0.751),
        0 -25px 50px rgba(0, 252, 252, 0.751),
        0 -35px 60px rgba(0, 252, 252, 0.851),
        0 -45px 70px rgba(0, 252, 252, 0.951),
        0 -65px 80px rgba(0, 252, 252, 1),
        0 -75px 90px rgba(0, 252, 252, 1);
    }
  
    to {
      will-change: unset;
      box-shadow:
        0 -1px 5px rgba(0, 252, 252, 0.151),
        0 -1px 2px rgba(0, 252, 252, 0.51),
        0 -1px 5px rgba(0, 252, 252, 0.151),
        0 -2px 3px rgba(0, 252, 252, 0.51),
        0 -3px 4px rgba(0, 252, 252, 0.51),
        0 -4px 6px rgba(0, 252, 252, 0.51),
        0 -5px 7px rgba(0, 252, 252, 0.751),
        0 -7px 10px rgba(0, 252, 252, 0.751),
        0 -10px 15px rgba(0, 252, 252, 0.751),
        0 -15px 20px rgba(0, 252, 252, 0.751),
        0 -25px 25px rgba(0, 252, 252, 0.751),
        0 -35px 30px rgba(0, 252, 252, 0.851),
        0 -45px 35px rgba(0, 252, 252, 0.951),
        0 -65px 40px rgba(0, 252, 252, 1),
        0 -75px 50px rgba(0, 252, 252, 1);
    }
  }
  
  .holo1 {
    position: absolute;
    z-index: 20000;
    width: 145px;
    height: 5px;
    margin-top: 50px;
    margin-left: -30px;
    background-color: rgba(#04bb56, .35);
    border-radius: 100%;
    filter: blur(2.5px);
    transform: perspective(100px) rotateX(-30deg);
    transform-style: preserve-3d;
    animation: holographic 1.5s infinite alternate;
    backface-visibility: hidden;
  }
  
  .services1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 50px;
    justify-content: space-around;
  }
  
  .servicesfront1 {
    backdrop-filter: brightness(15%);
  }
  
  .servicesbg1 {
  
    background: url(../assets/Coinsbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
  }
  
  .serviceshead1 {
    color: #fff;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 100px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bars1 {
    width: 7%;
    height: 10px;
    border-radius: 10px;
    background-color: #04bb56;
    display: flex;
  }
  
  .servicestext1 {
    display: flex;
    margin: 0px 20px;
    width: fit-content;
    justify-content: center;
  }
  
  .service1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: fit-content;
    padding: 20px 0px;
    border-radius: 10px;
    color: #fff;
  }
  
  .servicehead1 {
    font-size: 30px;
    font-weight: bolder;
    margin: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .serviceexplain1 {
    font-size: 20px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #dadada;
  }
  
  .readmore1 {
    display: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px 0px;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #686868;
    color: #fff;
    transition: 0.5s;
  }
  
  .readmore1:hover {
    cursor: pointer;
    background-color: #00863c;
  }
  
  .works1 {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
  }
  
  .buttons1 {
    display: flex;
    justify-content: center;
  }
  
  .hovr1 {
    transition: 0.5s;
    height: 230px;
  }
  
  .hovr1:hover {
    background-color: #008c3a;
    /* Change to the desired color on hover */
  }
  
  .colr1 {
    background-color: #04bb56;
  }
  
  .s1 {
    height: 550px;
    overflow: hidden;
  }
  
  .facts1 {
    background: url('../assets/features-bg.png');
    background-size: cover;
    color: #fff;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container1 {
    backdrop-filter: brightness(60%);
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  
  .features_text1 {
    display: flex;
    font-size: 25px;
    padding: 10px 0px;
  }
  
  .features_taital1 {
    color: #04bb56;
    display: flex;
    padding-bottom: 30px;
  }
  
  .features_section_21 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  
  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .col1 {
    display: flex;
    flex-direction: column;
    width: 30%;
  }
  
  .icon_41 {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
  }
  
  .padding151 {
    font-size: 30px;
    margin: 0px 20px;
  }
  
  .project_text1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .hidden_text1 {
    font-size: 20px;
    line-height: 1.3;
  }
  
  .swiper1-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    margin-bottom: 100px;
  }
  
  .swiper1-slide {
    height: 400px;
    text-align: center;
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .clientname1 {
    display: flex;
    font-size: 30px;
    margin: 30px 0px;
  
  }
  
  .comment1 {
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    width: 50%;
  }
  
  .swiper1-wrapper {
    display: flex;
  }
  
